<div class="footer pt-5 pb-5">
  <div class="container">
    <div class="row ">

      <div class="col-12 col-lg-3 text-center text-lg-start">
    <div class="title">
      Booktransfer<span>.eu</span>
    </div>
      <div class="mail pt-3">
        info@booktransfer.eu
      </div>
    </div>

    <div class="info-1 pt-3 col col-lg-3 text-center">
      <ul class="info-1-ul container">
        <li>
          Transferbörse
        </li>
        <li class="pt-3">
          Unsere Partner
        </li>
        <li class="pt-3">
          Fahrzeugvermietung<br>(mit Fahrer)
        </li>
        <li class="pt-3">
          Busreisen
        </li>
        <li class="pt-3">
          Hotel
        </li>
      </ul>
    </div>
    <div class="info-2 pt-3 col-12 col-lg-3 text-center">
      <ul class="info-2-ul container">
        <li>
          Über Unsere
        </li>
        <li class="pt-3">
          Registrieren
        </li>
        <li class="pt-3">
          Kontakt
        </li>
        <li class="pt-3">
          Nutzungsbedingungen und<br>
          Datenschutzbestimmungen
        </li>
      </ul>
    </div>
    <div class="social pt-3 col-12 col-lg-3">
      <ul class="social-ul text-center text-lg-start container">
        <li> Soziale Netzwerke:
        </li>
        <li class="pt-3 ">
          <div class="social-icons pt-3 d-flex ">
                <img class="me-auto mx-auto mx-lg-0 me-lg-3" src="../../assets/icons/facebook.svg">
                <img class="me-auto mx-auto mx-lg-3 me-lg-3" src="../../assets/icons/instagram.svg">
                <img class="me-auto mx-auto mx-lg-3 me-lg-3" src="../../assets/icons/twitter.svg">
          </div>
        </li>
      </ul>
    </div>
  </div>
  </div>
</div>
<div class="copyright text-center p-3">
  Alle Rechte vorbehalten - Booktransfer.eu
</div>
