<div class="success pt-5 pb-5">
    <div class="container d-flex align-items-center mb-5">
      <div class="title"> Place Ad </div>
      <img class="pe-3 px-3" src="../../../assets/icons/next-icon.svg">
      <div class="subtitle"> 6. Success </div>
    </div>
    <div class="form container">
      <div class="container ">
        <div class="row d-flex justify-content-around text-center mx-0">
          <div class="col-2 col-xl-2 text-center d-flex justify-content-center mb-5">
            <span class="circle d-flex justify-content-center p-2">
              <img src="../../../assets/icons/happy-icon.svg"></span>
          </div>
        </div>
        <div class="mt-5 tnx text-center">
        Thank you!
      </div>
      <p class="mt-3 text-center">Your Ad was successfully placed.</p>
      <div class="text-center mt-5">
      <button class="next">
        GO TO MY ADD
      </button>
    </div>
      </div>
      
  