<div class="contact pt-5 pb-5">
    <div class="container d-flex align-items-center mb-5">
      <div class="title text-nowrap"> Place Ad </div>
      <img class="pe-3 px-3" src="../../../assets/icons/next-icon.svg">
      <div class="subtitle"> 4. Contact Person </div>
    </div>
    <div class="form container">
      <div class="container ">
        <div class="row d-flex justify-content-around text-center mx-0">
          <div class="col-2 col-xl-2 text-center d-flex justify-content-center">
            <div class="name pt-5">Destination</div><span class="circle d-flex justify-content-center p-2"><img class="check d-flex justify-content-center p-2" src="../../../assets/icons/check-circle-icon.svg"><img
                src="../../../assets/icons/mappin-icon.svg"></span>
          </div>
          <div class="col-2 col-xl-2 text-center d-flex justify-content-center">
            <div class="name pt-5">Group Details</div><span class="circle d-flex justify-content-center p-2"><img class="check d-flex justify-content-center p-2" src="../../../assets/icons/check-circle-icon.svg"><img
                src="../../../assets/icons/users-icon.svg"></span>
          </div>
          <div class="col-2 col-xl-2 text-center d-flex justify-content-center">
            <div class="name pt-5">Transfer Preferences</div><span class="circle d-flex justify-content-center p-2"><img class="check d-flex justify-content-center p-2" src="../../../assets/icons/check-circle-icon.svg"><img
                src="../../../assets/icons/list-icon.svg"></span>
          </div>
          <div class="col-2 col-xl-2 text-center d-flex justify-content-center">
            <div class="name pt-5">Contact Person</div><span class="circle circle_sel d-flex justify-content-center p-2"><img
                src="../../../assets/icons/contact-icon.svg"></span>
          </div>
          <div class="col-2 col-xl-2 text-center d-flex justify-content-center">
            <div class="name pt-5">Place an Ad</div><span class="circle d-flex justify-content-center p-2"><img
                src="../../../assets/icons/check-icon.svg"></span>
          </div>
        </div>
        <div class="row mx-0 mt-5">
        <div class="col-12 col-xl-12 col-lg-12 col-md-12 mt-4">
          <input class="form-check-input me-2" type="checkbox" value="" id="flexCheckDefault2">
          <label class="form-check-label" for="flexCheckDefault2">
            I am a contact person
          </label>
          <div class="row mx-0 d-flex mt-3 align-items-center ">
            <div class="col-12 col-lg-6 col-xl-6 col-md-6 p-0 text-start mt-4">
              <label for="from" class="form-label asterisk p-0">Name*</label>
              <input class="form-control p-2" type="text" placeholder="Max Mustermann" id="from">
            </div>
          </div>
          <div class="row mx-0 d-flex mt-3 align-items-center ">
            <div class="col-12 col-lg-6 col-xl-6 col-md-6 p-0 text-start mt-3">
              <label for="from" class="form-label asterisk p-0">Phone*</label>
              <input class="form-control p-2" type="number" placeholder="+43 123 123 44 56" id="from">
            </div>
          </div>
            <div class="row mx-0 d-flex mt-3 align-items-center ">
              <div class="col-12 col-lg-6 col-xl-6 col-md-6 p-0 text-start mt-3">
                <label for="from" class="form-label asterisk p-0">Email*</label>
                <input class="form-control p-2" type="email" placeholder="max.mustermann@mail.com" id="from">
              </div>
            </div>
        </div>
      </div>
    </div>
      <div class="d-flex justify-content-between mt-4">
        <button class="cancel p-3" routerLink="/home">
          CANCEL ADD
        </button>
        <div class="btns d-flex justify-content-between">
        <button class="previous mx-3 p-2" routerLink="/transfers/preferences">
          PREVIOUS STEP
        </button>
        <button class="next p-3" routerLink="/transfers/overview">
          NEXT STEP
        </button>
      </div>
      </div>
    </div>
  