<div class="mobile-nav bg-light fixed-bottom">
<div class="container d-flex justify-content-between p-3">
    <a href="#header"><div class="text-center icon"><img src="../../assets/icons/home-line.svg"> <br> Home </div></a>
    <a href="#"><div class="text-center icon"><img src="../../assets/icons/marker-line.svg"> <br> Transfers </div></a>
    <a href="#"><div class="text-center icon"><img src="../../assets/icons/map-line.svg"> <br> Tours </div></a>
    <a href="#"><div class="text-center icon"><img src="../../assets/icons/trips-line.svg"> <br> Trips </div></a>
    <a href="#"><div class="text-center icon"><img src="../../assets/icons/user-line.svg"> <br> Profile </div></a>
</div>
<div class="container line text-center mb-2"></div>
</div>
