
<div class="unsere-partner pt-3 mb-5">
  <div class="container">
    <div class="title">
      UNSERE PARTNER
    </div>
    <div class="row mx-0 d-flex">
      <div class="col col-lg-4">
    <div class="subtitle pt-3">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Lorem ipsum dolor sit amet, consectetur adipiscing
      elit.Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem ipsum dolor sit amet, consectetur adipiscing
      elit.
    </div>
  </div>
 <div class="col-12 col-lg-8 d-flex p-0">
    <div class="sponsors pt-3">
      <div class="container p-0 d-flex">
        <img src="../../assets/images/partners/p1.png" class="sponsor_img w-25">
        <img src="../../assets/images/partners/p2.png" class="sponsor_img w-25">
        <img src="../../assets/images/partners/p3.png" class="sponsor_img w-25">
        <img src="../../assets/images/partners/p4.png" class="sponsor_img w-25">
    </div>
    <div class="container p-0 d-flex">
        <img src="../../assets/images/partners/p5.png" class="sponsor_img w-25">
        <img src="../../assets/images/partners/p6.png" class="sponsor_img w-25">
        <img src="../../assets/images/partners/p7.png" class="sponsor_img w-25">
        <img src="../../assets/images/partners/p8.png" class="sponsor_img w-25">
    </div>
    </div>
 </div>

  </div>
    <div class="text-center pt-5">
    <button>
      PARTNER WERDEN
    </button>
  </div>
  </div>
</div>

