<div class="overview pt-5 pb-5">
    <div class="container d-flex align-items-center mb-5">
      <div class="title text-nowrap"> Place Ad </div>
      <img class="pe-3 px-3" src="../../../assets/icons/next-icon.svg">
      <div class="subtitle"> 5. Overview and place an Ad </div>
    </div>
    <div class="form container">
      <div class="container ">
        <div class="row d-flex justify-content-around text-center mx-0">
          <div class="col-2 col-xl-2 text-center d-flex justify-content-center">
            <div class="name pt-5">Destination</div><span class="circle d-flex justify-content-center p-2"><img class="check d-flex justify-content-center p-2 mx-xl-2 mx-lg-2" src="../../../assets/icons/check-circle-icon.svg"><img
                src="../../../assets/icons/mappin-icon.svg"><span class="d-flex justify-content-center p-2"></span></span>
          </div>
          <div class="col-2 col-xl-2 text-center d-flex justify-content-center">
            <div class="name pt-5">Group Details</div><span class="circle d-flex justify-content-center p-2"><img class="check d-flex justify-content-center p-2 mx-xl-2 mx-lg-2" src="../../../assets/icons/check-circle-icon.svg"><img
                src="../../../assets/icons/users-icon.svg"><span class="d-flex justify-content-center p-2"></span></span>
          </div>
          <div class="col-2 col-xl-2 text-center d-flex justify-content-center">
            <div class="name pt-5">Transfer Preferences</div><span class="circle d-flex justify-content-center p-2"><img class="check d-flex justify-content-center p-2 mx-xl-2 mx-lg-2" src="../../../assets/icons/check-circle-icon.svg"><img
                src="../../../assets/icons/list-icon.svg"><span class="d-flex justify-content-center p-2"></span></span>
          </div>
          <div class="col-2 col-xl-2 text-center d-flex justify-content-center">
            <div class="name pt-5">Contact Person</div><span class="circle d-flex justify-content-center p-2"><img class="check d-flex justify-content-center p-2 mx-xl-2 mx-lg-2" src="../../../assets/icons/check-circle-icon.svg"><img
                src="../../../assets/icons/contact-icon.svg"><span class="d-flex justify-content-center p-2"></span></span>
          </div>
          <div class="col-2 col-xl-2 text-center d-flex justify-content-center">
            <div class="name pt-5">Place an Ad</div><span class="circle circle_sel d-flex justify-content-center p-2"><img
                src="../../../assets/icons/check-icon.svg"></span>
          </div>
        </div>
        <div class="row mx-0 mt-5 infos">
          <div class="col col-xl-6 col-lg-6 col-md-6 info">
            <p class="info_title">Destination</p>
            <label for="transport" class="asterisk mt-2">Typ of transfer</label>
            <p class="" id="transport">Simple Transfer</p>
            <label for="from" class="asterisk mt-2">From</label>
            <p class="" id="from">Vienna</p>
            <label for="to" class="asterisk mt-2">To</label>
            <p class="" id="to">Bratislava</p>
            <div class="d-flex justify-content-start">
            <div class="pe-5">
              <label for="transport" class="asterisk mt-2">Date</label>
              <p class="" id="transport">20/10/2021</p>
            </div>
            <div class="">
              <label for="from" class="asterisk mt-2">Time</label>
              <p class="" id="from">12:00</p>
            </div>
            </div>
          </div> 
          <div class="col-12 col-xl-6 col-lg-6 col-md-6 info mt-4 mt-xl-0">
            <p class="info_title">Group details</p>
            <label for="transport" class="asterisk mt-2">Number of passengers</label>
            <p class="" id="transport">26</p>
            <label for="from" class="asterisk mt-2">Type of Group</label>
            <p class="" id="from">School</p>
            <label for="to" class="asterisk mt-2">Travel Program</label>
            <p class="" id="to">-</p>
          </div>
        </div>
        <div class="row mx-0 group mt-xl-5 mt-lg-5">
          <div class="col col-xl-6 col-lg-6 col-md-6 info mt-4 mt-xl-0">
            <p class="info_title">Transfer Preferences </p>
            <div class="d-flex justify-content-start">
              <div class="pe-5">
            <label for="transport" class="asterisk mt-2">Language skills of the driver</label>
            <p class="" id="transport">Vienna</p>
          </div>
          <div class="">
            <label for="from" class="asterisk mt-2">Max. age of the vehicle</label>
            <p class="" id="from">Irrelevant</p>
          </div>
          </div>
          <label for="to" class="asterisk mt-2">Vehicle Equipment</label>
            <p class=" d-flex align-items-center" id="to"><img class="dvd-image" src="../../../assets/icons/check-icon-2.svg">DVD/CD</p>
        </div>
          <div class="col col-xl-6 col-lg-6 col-md-6 info mt-4 mt-xl-0">
            <p class="info_title">Contact Person</p>
            <label for="transport" class="asterisk mt-2">Name</label>
            <p class="" id="transport">Max Mustermann</p>
            <label for="from" class="asterisk mt-2">Phone</label>
            <p class="" id="from">+43 123 123 44 56</p>
            <label for="to" class="asterisk mt-2">Email</label>
            <p class=" d-flex align-items-center" id="to">max.mustermann@mail.com</p>
          </div>
        </div>
        
      </div>
      <div class="container-fluid footer p-0">
        <div class="row mx-5 d-flex align-content-center pb-3">
          <div class="col-6 col-lg-4 col-xl-2 col-md-3 p-0 me-3 text-start mt-3">
            <label for="from" class="form-label asterisk p-0">Send the offer until*</label>
            <div class="input-group">
            <input class="form-control p-2 date-input" type="text" placeholder="20/10/2021" aria-describedby="from">
            <span class="input-group-text" id="from"><img src="../../../assets/icons/calendar-icon.svg"></span>
          </div>
          </div>
          <div class="col-5 col-lg-4 col-xl-1 col-md-3 p-0 text-start mt-3">
            <label for="to" class="form-label time-asterisk asterisk p-0">Time*</label>
            <div class="input-group">
            <input class="form-control p-2 time-input" type="text" placeholder="12:00" id="to">
            <span class="input-group-text" id="from"><img src="../../../assets/icons/clock-icon.svg"></span>
          </div>
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-between mt-4">
        <button class="cancel p-3" routerLink="/home">
          CANCEL ADD
        </button>
        <div class="btns d-flex justify-content-between">
        <button class="previous mx-3 p-2" routerLink="/transfers/contact">
          PREVIOUS STEP
        </button>
        <button class="next p-3" routerLink="/transfers/success">
          NEXT STEP
        </button>
      </div>
      </div>
    </div>
  