<div class="favourites pt-5">
    <div class="container text-center">
      <div class="title text-center">
        BELIEBTE BUSREISEN
      </div>
      <div class="subtitle text-center pt-3">
        Entdecken Sie die beste Busreisen unserer Partner
      </div>
      <div class="cards pt-5 pb-5 align-items-center">
        <div class="row text-center">
          <div class="col col-md-6 col-lg-3 g-4">
            <div class="card">
              <div class="card-img-top">
                <img class="card-img-top" src="../../assets/images/venice.jpg"
                     alt="Card image cap">
              </div>
              <div class="card-body">
                <h5 class="card-title text-start">Weekend in Italy</h5>
                <p class="card-text text-start">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              </div>
            </div>
          </div>
          <div class="col col-md-6 col-lg-3 g-4">
            <div class="card ">
              <div class="card-img-top">
                <img class="card-img-top" src="../../assets/images/venice.jpg"
                     alt="Card image cap">
              </div>
              <div class="card-body">
                <h5 class="card-title text-start">Weekend in Italy</h5>
                <p class="card-text text-start">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              </div>
            </div>
          </div>
          <div class="col col-md-6 col-lg-3 g-4">
            <div class="card">
              <div class="card-img-top">
                <img class="card-img-top" src="../../assets/images/venice.jpg"
                     alt="Card image cap">
              </div>
              <div class="card-body">
                <h5 class="card-title text-start">Weekend in Italy</h5>
                <p class="card-text text-start">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              </div>
            </div>
          </div>
          <div class="col col-md-6 col-lg-3 g-4">
            <div class="card">
              <div class="card-img-top">
                <img class="card-img-top" src="../../assets/images/venice.jpg"
                     alt="Card image cap">
              </div>
              <div class="card-body">
                <h5 class="card-title text-start">Weekend in Italy</h5>
                <p class="card-text text-start">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="text-center pt-5">
          <button class="">ALLE BUSREISEN ANZEIGEN</button>
        </div>
      </div>
    </div>
  </div>
  
  <div class="slider container-fluid my-4 p-0">

    <div class="container text-center">
      <div class="title text-center">
        BELIEBTE BUSREISEN
      </div>
      <div class="subtitle text-center pt-3 pb-5">
        Entdecken Sie die beste Busreisen unserer Partner
      </div>
    </div>

    <!--Carousel Wrapper-->
    <div id="multi-item" class="carousel slide carousel-multi-item" data-bs-ride="carousel">
  
      <!--Slides-->
      <div class="carousel-inner" role="listbox">
  
        <!--First slide-->
        <div class="carousel-item active ">
  
          <div class="row me-4">
            <div class="col-md-4 col-4">
              <div class="card mb-2">
                <img class="card-img-top" src="../../assets/images/venice.jpg"
                     alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Weekend in Italy</h5>
                  <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
              </div>
            </div>
  
            <div class="col-md-4 col-4 d-md-block">
              <div class="card mb-2">
                <img class="card-img-top" src="../../assets/images/venice.jpg"
                     alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Weekend in Italy</h5>
                  <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
              </div>
            </div>
  
            <div class="col-md-4 col-4 d-md-block">
              <div class="card mb-2">
                <img class="card-img-top" src="../../assets/images/venice.jpg"
                     alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Weekend in Italy</h5>
                  <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
              </div>
            </div>
          </div>
  
        </div>
        <!--/.First slide-->
  
        <!--Second slide-->
        <div class="carousel-item">
  
          <div class="row me-4">
            <div class="col-md-4 col-4">
              <div class="card mb-2">
                <img class="card-img-top" src="../../assets/images/venice.jpg"
                     alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Weekend in Italy</h5>
                  <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
              </div>
            </div>
  
            <div class="col-md-4 col-4">
              <div class="card mb-2">
                <img class="card-img-top" src="../../assets/images/venice.jpg"
                     alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Weekend in Italy</h5>
                  <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
              </div>
            </div>
  
            <div class="col-md-4 col-4">
              <div class="card mb-2">
                <img class="card-img-top" src="../../assets/images/venice.jpg"
                     alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">Weekend in Italy</h5>
                  <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                </div>
              </div>
            </div>
          </div>
  
        </div>
        <!--/.Second slide-->
  
      </div>
      <!--/.Slides-->
  
    </div>
    <!--/.Carousel Wrapper-->
  
  
  </div>

  