<div class="workflow mt-5">
  <div class="overlay pt-5">
    <div class="container">
      <div class="title text-center ">
        WIE FUNKTIONIERT ES
      </div>
      <div class="subtitle text-center pt-3">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      </div>
      <div class="container w-75">
        <div class="row pt-5 pb-2">

          <div class="col col-lg-3 text-center">
            <img src="../../assets/graphics/chevron-right1.svg" id="img1">
            <div class="description-title pt-5">DESCRIBE YOUR<br> NEEDS</div>
            <div class="description pt-3 pb-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
          </div>
          <div class="col col-lg-3 text-center"><img src="../../assets/graphics/chevron-right2.svg" id="img2">
            <div class="description-title pt-5">REVIEW MULTIPLE<br> OFFERS</div>
            <div class="description pt-3 pb-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
          </div>
          <div class="col col-lg-3 text-center"><img src="../../assets/graphics/chevron-right3.svg" id="img3">
            <div class="description-title pt-5">SELECT THE BEST<br> OFFER</div>
            <div class="description pt-3 pb-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
          </div>
          <div class="col col-lg-3 text-center"><img src="../../assets/graphics/chevron-right4.svg" id="img4">
            <div class="description-title pt-5">ENJOY YOUR<br> TRANSFER</div>
            <div class="description pt-3 pb-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="workflow-mobile mt-5">
  <div class="overlay pt-5">
    <div class="container">
      <div class="title text-center ">
        WIE FUNKTIONIERT ES
      </div>
      <div class="subtitle text-center pt-3">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit.
      </div>
      <div class="container w-100">
        <div class="row pt-5 pb-5">

          <div class="col d-flex col-lg-3 text-start">
            <img src="../../assets/graphics/chevron-down1.svg" id="img1">
            <div class="container">
            <div class="description-title">DESCRIBE YOUR NEEDS</div>
            <div class="description pt-3 pb-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
          </div>
          </div>
          <div class="col d-flex col-lg-3 text-start">
            <img src="../../assets/graphics/chevron-down2.svg" id="img2">
            <div class="container">
            <div class="description-title">REVIEW MULTIPLE OFFERS</div>
            <div class="description pt-3 pb-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
          </div>
          </div>
          <div class="col d-flex col-lg-3 text-start">
            <img src="../../assets/graphics/chevron-down3.svg" id="img3">
            <div class="container">
            <div class="description-title">SELECT THE BEST OFFER</div>
            <div class="description pt-3 pb-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
          </div>
          </div>
          <div class="col d-flex col-lg-3 text-start">
            <img src="../../assets/graphics/chevron-down4.svg" id="img4">
            <div class="container">
            <div class="description-title">ENJOY YOUR TRANSFER</div>
            <div class="description pt-3 pb-5">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</div>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
