<div class="about">
  <div class="container">
    <div class="title">
      ÜBER UNS
    </div>
    <div class="row d-flex">
      <div class="col col-lg-5">
        <div class="text mt-5">
          Booktransfer besteht aus einer Gruppe von Enthusiasten, die ihre Liebe zum Reisen mit Ihnen teilen wollen.
          Ihre 20-jährige Berufserfahrung in der Reisebranche, gemeinsam mit erfahrenen Fachleuten im IT-Bereich,
          versprechen eine angenehmere Reiseplanung!
        </div>
        <div class="text mt-3">
          Die Booktransfer-Plattform ist eine gesammelte Arbeit aller Erfahrungen in der Reisebranche, in der wir vor
          allem viel Wert auf die Behebung der Umständlichkeiten gelegt haben. Sie wurde erstellt, um Einzelpersonen und
          Gruppen von Reisenden die Planung und Durchführung von Reisen zu erleichtern. Die Vorteile unserer Plattform
          bestehen darin, dass sowohl große, als auch kleine Unternehmen im Personenverkehrssektor gefördert werden. Sie
          garantiert Zeitersparnisse, transparente Preisvergleiche und passende Transportmittel, die online zu
          vordefinierten Preisen gebucht werden können.
        </div>
        <div class="text mt-3">
          Unsere Mission endet nicht hier, denn wir setzen auf kontinuierliche Verbesserung der Plattform!
        </div>
      </div>
      <div class="col col-lg-5 container mt-5">
        <div class="container d-flex">
          <div class="col col-lg-8 col-md-7">
            <div class="text-center"><img class="circle p-3" src="../../assets/icons/briefcase-icon.svg"></div>
            <div class="info-number text-center mt-3">112</div>
            <div class="info-text text-center mt-1">Partners</div>
          </div>
          <div class="col col-lg-8 col-md-7">
            <div class="text-center"><img class="circle p-3" src="../../assets/icons/mappin-icon.svg"></div>
            <div class="info-number text-center mt-3">18</div>
            <div class="info-text text-center mt-1">Countries</div>
          </div>
        </div>

        <div class="container d-flex mt-5">
          <div class="col col-lg-8 col-md-7">
            <div class="text-center"><img class="circle p-3" src="../../assets/icons/briefcase-icon.svg"></div>
            <div class="info-number text-center mt-3">1000+</div>
            <div class="info-text text-center mt-1">Customers</div>
          </div>
          <div class="col col-lg-8 col-md-7">
            <div class="text-center"><img class="circle p-3" src="../../assets/icons/mappin-icon.svg"></div>
            <div class="info-number text-center mt-3">126</div>
            <div class="info-text text-center mt-1">Bookings/Day</div>
          </div>
        </div>
      </div>
